@font-face {
    font-family: 'NHaasGroteskDSStd-55Rg';
    src: url('NHaasGroteskDSStd-55Rg.woff2') format('woff2'),
        url('NHaasGroteskDSStd-55Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

